@import url("https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/solaimanlipi/stylesheet.css");
@import url("https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/charukola-reguler-unicode/stylesheet.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
/*--- variables ---*/
/*--- common ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

body {
  font-family: "SolaimanLipi", "Ubuntu", sans-serif;
  font-size: 14px;
  background: #e7e7e7;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "SolaimanLipi", "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.mdl-card__title {
  display: block;
}

pre[class*="language-"] {
  border-radius: 0;
}

/*--- header ---*/
.mdl-layout__header {
  box-shadow: none;
}

.header {
  background: #3c3741;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  min-height: 50vh;
  color: #fff;
  text-align: center;
}

.header h1, .header h2, .header h3,
.header h4, .header h5, .header h6 {
  font-family: "Charukola Unicode", sans-serif;
  font-weight: 400;
}

.header a {
  color: #fff;
}

.header a:hover {
  color: #ff5252;
}

.mdl-layout__header .mdl-layout__drawer-button {
  background: none;
}

.sectionHeader {
  color: #fff;
  border: 1px solid #ccc;
}

.sectionHeader h4 {
  margin: 0;
  padding: 8px 0;
  background: #fff;
}

.sectionHeader h4 span {
  background: #2296f3;
  padding: 8px 1em;
}

.courseContainer {
  min-height: 300px;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
}

.courseContainer a {
  width: 100%;
  height: 100%;
  line-height: 300px;
}

.courseContainer a svg {
  width: 120px;
}

.postSummery {
  border: 1px solid #ccc;
}

.postContainer {
  min-height: 500px;
}

.postContainer .postMeta .postTitle {
  color: #2296f3;
  text-align: center;
  margin-bottom: 16px;
}

.postContainer .postMeta .postInfo {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  text-align: center;
  padding: 8px;
}

.postContainer .postMeta .postInfo p {
  display: inline;
  margin: 0;
  padding: 8px;
  padding-right: 0;
}

.postContainer .postMeta .postInfo .devider {
  margin: 0 .3em;
}

.postContainer .postMeta .postInfo .postTags {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.postContainer .postMeta .postInfo .postTags li {
  margin-right: 0.3em;
  display: inline;
}

.postContainer .postMeta .postInfo .postTags li::after {
  content: ',';
}

.postContainer .postMeta .postInfo .postTags li:last-child::after {
  margin-right: 0;
  content: '';
}

.postContainer .postBody {
  background: #fff;
  border: 1px solid #ccc;
  padding: 16px;
  text-align: justify;
}

.postContainer .postBody p {
  font-size: 1.4em;
  line-height: 1.7em;
  margin-bottom: 1em;
}

.postContainer .postBody p:last-child {
  margin-bottom: 0;
}

.postContainer .postBody h4 {
  color: #1DABB8;
}

.postShare {
  margin-top: 16px;
  background: #fff;
  padding: 8px 4px;
  border: 1px solid #ccc;
}

.postShare .rrssb-buttons li {
  padding: 0 4px;
}

.postShare .rrssb-buttons li a {
  border-radius: 0;
}

.postComment {
  background: #fff;
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ccc;
}

.sidebarContainer .sidebarWidget {
  background: #fff;
  margin-bottom: 16px;
}

.sidebarContainer .sidebarWidget .widgetTitle {
  background: #2296f3;
  color: #fff;
}

.sidebarContainer .sidebarWidget .widgetTitle h4 {
  margin: 0;
  padding: 0.4em 0.3em;
  text-align: center;
}

.sidebarContainer .sidebarWidget .widgetContent {
  padding: 8px;
  border: 1px solid #ccc;
}

.sidebarContainer .sidebarWidget:last-child {
  margin-bottom: 0;
}

.socialLinks {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.socialLinks li {
  text-align: center;
  display: inline-block;
  margin-right: 1em;
}

.socialLinks li:last-child {
  margin-right: 0;
}

.socialLinks li a {
  font-size: 1.5em;
}

.archive {
  list-style: none;
  padding: 8px;
}

.archive li {
  margin-bottom: 16px;
  text-align: left;
}

.archive li .fa {
  margin-right: .7em;
}

.archive li:last-child {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  background: #3c3741;
  color: #fff;
}

.footer p {
  font-size: 1.3em;
  margin: 0;
  padding: 0.7em 0;
}

.footer .devider {
  margin: 0 0.2em;
}
