<header class="mdl-layout__header header flex">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h2 class="title"><a href="<%= config.root %>"><%= config.title %></a></h2>
            <h3 class="subtitle"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h3>
        </div>
    </div>
</header>
