<div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
  <div class="sidebarContainer">
    <div class="sidebarWidget">
      <div class="widgetTitle">
        <h4>অনুসরণ করুন</h4>
      </div>
      <div class="widgetContent">
        <ul class="socialLinks">
          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="sidebarWidget">
      <div class="widgetTitle">
        <h4>সাম্প্রতিক লেখা</h4>
      </div>
      <div class="widgetContent">
        <ul class="archive">
          <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="">পোর্টফোলিও সাইট বানানোর কিছু সাধারণ নীতিমালা পোর্টফোলিও সাইট বানানোর কিছু সাধারণ নীতিমালা</a></li>
          <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="">পোর্টফোলিও সাইট বানানোর কিছু সাধারণ নীতিমালা</a></li>
          <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="">পোর্টফোলিও সাইট বানানোর কিছু সাধারণ নীতিমালা সাইট বানানোর কিছ</a></li>
          <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="">পোর্টফোলিও সাইট বানানোর কিছু সাধারণ নীতিমালা</a></li>
          <li><i class="fa fa-file-text-o" aria-hidden="true"></i><a href="">পোর্টফোলিও সাইট বানানোর কিছু সাধারণ নীতিমালা</a></li>
        </ul>
      </div>
    </div>
    <div class="sidebarWidget">
      <div class="widgetTitle">
        <h4>সাম্প্রতিক লেখা</h4>
      </div>
      <div class="widgetContent">
        <ul class="archive month">
          <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="">জানুয়ারি</a></li>
          <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="">ফেব্রুয়ারি</a></li>
          <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="">মার্চ</a></li>
          <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="">এপ্রিল</a></li>
          <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="">মে</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
